<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes demo</title>
  <link href="css/style.css" rel="stylesheet" />
  <script src="node_modules/angular/angular.js"></script>
  <script src="ts/app.js"></script>
  <script src="ts/component/statistics.js"></script>
  <script src="ts/component/notes.js"></script>
  <script src="ts/controller/notesController.js"></script>
  <script src="ts/directive/autofocus.js"></script>
  <script src="ts/directive/sort.js"></script>
  <script src="ts/model/note.js"></script>
</head>
<body ng-app="notes" ng-controller="NotesController as vm">
  <div ng-if="!vm.notes">
    Loading...
  </div>
  <div ng-if="vm.notes">
    <statistics notes="vm.notes"></statistics>
    <notes notes="vm.notes"></notes>
  </div>
</body>
</html>
